body {
  display: flex;
  place-items: center;
  width: 100vw; /* Ensure body takes full width */
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}

.App {
  max-width: 100%;
  margin: 0;
  padding: 2rem;
  text-align: center;
  font-family: 'TImes New Roman', Times, serif;
  color: black;
}


#root {
  position: relative;/* Ensure the pseudo-element is positioned relative to the root */
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  /* margin-bottom: 100%; */
  padding: 2rem;
  text-align: center;
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Times New Roman', Times, serif;
  color: black;
  /* background-image: url('../src/assets/images/hannah-busing-0BhSKStVtdM-unsplash.jpg'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}

.TopImage {
  width: 100vw;
  height: auto;
  object-fit: contain;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .App {
    padding: 1rem;
  }

  .TopImage {
    margin-bottom: 10px;
  }
}



#root::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.136); /* Semi-transparent white overlay */
  pointer-events: none; /* Allow clicks to pass through the overlay */
}

/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
